* {
  font-family: verdana;
}
body {
}
.container {
  width: 84%;
  margin-left: 8%;
  background-color: #f2efef;
}
header {
  background-color: #b4b4b4;
  padding: 10px;
}
.logo {
  display: inline-block;
  border-style: solid;
  border-color: white;
  color: white;
  width: 17px;
}
.pageTitle {
  display: inline-block;
}
.headernav {
  display: inline block;
}
.login {
  display: inline-block;
  float: right;
}
ol li{
  /*first-letter: gray;*/
}
ul{
  list-style: none;
  text-align: left;
  font-size: 12px;
  color: gray;
}
.lastLi{
  list-style: none;
}
.listlinks{
  font-size: 12px;
  color: gray;
}
footer {
  text-align: center;
  border-top-style: solid;
  padding: 10px;
  border-color: gray;
}
nav {
  display: inline;
}
