* {
  font-family: avenir;
}
body {
}
.container {
  width: 84%;
  margin-left: 8%;
  background-color: #f2efef;
}
header {
  background-color: #b4b4b4;
  padding: 10px;
}
.pageTitle {
  display: inline-block;
}
.logo {
  border-style: solid;
  border-color: white;
  color: white;
  font-family: caslon;
}
.login {
  float: right;
  display: inline-block;
}
ol li{
  /*first-letter: gray;*/
}
ul{
  list-style: none;
  text-align: left;
  font-size: 12px;
  color: gray;
}
.listlinks{
  font-size: 12px;
  color: gray;
}
footer {
  text-align: center;
  border-top-style: solid;
  padding: 10px;
  border-color: gray;
}
input{
  display: block;
  /*text-align: center;*/
}
nav {
  display: inline;
}
